@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

.form-styles {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
}
.form-styles input {
    padding: 0.4rem;
}
.form-styles select {
    padding: 0.4rem;
    width: 70%;
}
hr {
    opacity: 1 !important;
    width: 102%;
}
.form-input {
    border: solid 1px rgb(104, 103, 103);
    border-radius: 0 !important;
}
.form-with-input {
    width: 75% !important;

}
.form-with-text-area {
    width: 100% !important;
}
@media screen and (max-width: 992px) {
    .form-with-input {
        width: 95% !important;
    }
    .form-with-text-area {
        width: 95% !important;
    }
}
.form-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(104, 103, 103 / 25%);
}
.form-input:invalid:required {
    box-shadow: 0 0 0 0.25rem rgb(230, 87, 87 / 25%);
}
