.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 20%;
}
@media only screen and (max-width: 576px) {
.swiper-slide{
  justify-content: start;
}
}

.swiper-slide img {
  display: block;
  width: 21rem;
  object-fit: cover;
}
.imagenFinal{
  width: inherit;
  padding: 3rem;
}
.masVendidos{
  border-bottom: 4px solid #b59062;
  width: 13rem;
  display: flex;
  justify-content: center;
}
.sliderTamñano{
  width: 24rem !important;
  margin-bottom: 2rem;
}
.descripcion{
  font-size: 0.8rem;
  font-weight: bold;
}
.card-prod-slider {
  border: none;
}
