@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

.form-register {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;

}
.form-register input {
    padding: 0.4rem;
}
.form-register select {
    padding: 0.4rem;
    width: 70%;
}
hr {
    opacity: 1 !important;
    width: 102%;
}
.form-input {
    border: solid 1px rgb(104, 103, 103);
}
.form-input:focus {
    outline: solid 2px #b59062 ;
    box-shadow: 0 0 0 0.25rem rgb(104, 103, 103 / 25%) ;
}

.form-input:invalid:required {
    box-shadow: 0 0 0 0.25rem rgb(230, 87, 87 / 25%)
  }

  .form-input-editUser {
      height: 1.8rem;
      width: 200px !important;
    border: solid 1px rgb(104, 103, 103);
}
.label-role{
    width: 60px !important;
}