.about-style {
    background-image: url(../../assets/about-page-header.jpg);
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 100vh;  
    transition: 0.5s;
    margin-bottom: 3rem;
    padding: 2rem; 
 }

 .about-text-header h1{
    font-family: 'Playfair Display', serif;
    color: #b59062;
    font-weight: 1000;
    transition: 0.5s;
 }
 .about-text-header h3{
    font-family: 'Playfair Display', serif;
    color: black;
   transition: 0.5s;
 }

 .efecto-text1{
    position: relative;
    font-size: 80px;
    /* animation: efecto-text1 2.2s cubic-bezier(0.77, 0, 0.7, 1); */
    transition: 0.5s;
 }
 .efecto-text2{
    position: relative;
    font-size: 40px;
    /* animation: efecto-text2 2.2s cubic-bezier(0.77, 0, 0.7, 1); */
    transition: 0.5s;
 }

 /* @keyframes efecto-text1 {
    0% {
       transform: translateX(500px);
    }
 }
 @keyframes efecto-text2 {
    0% {
       transform: translateX(-500px);
    }
 }
 
 @media only screen and (max-width: 1050px) {

    @keyframes efecto-text1 {
      0% {
         transform: translateX(300px);
      }
   }
   @keyframes efecto-text2 {
    0% {
       transform: translateX(-330px);
    }
 }
 } */

 .boton-down-header{
     background:none;
     border: none;
     font-size: 30px;
     color: #b59062;
 }
 .boton-down-header:hover{
    color: whitesmoke;
    transition-duration: 0.5s;  
}

.historia-style h1{
    font-family: 'Playfair Display', serif;
    color: #b59062;
    font-weight: bolder;
}