.details-product-bg {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.columna-detalle{
    align-self: center;
}
.producto-nombre{
    font-family: Montserrat,sans-serif;
    font-size: 1.5rem;
    border-bottom: 3px solid #b59062;
    display: inline-block;
    color:white;
}
.producto-descripcion{
    font-family: Playfair Display;
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: 400;
    line-height: 50px;
    color:white;
    border-bottom: 3px solid rgb(129, 129, 129,0.3);
}
.precio-mayor{
    font-family: Playfair Display;
    font-size: 1.5rem;
    color:white;
    line-height: 1rem;
}
.precio-menor{
    font-family: Playfair Display;
    font-size: 1.2rem;
    color:white;
}
.boton-comprar{
    border: none;
    background: rgb(181, 144, 98);
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    border-radius: 0px;
    width: 15rem;
}
