.accordion .carga-Productos-Accordion .accordion-header button{
    margin: 0;
    display: flow-root;
    text-align: center;
    border-bottom: 3px solid rgb(46, 46, 46,0.4);
}
.cargarProductos{
    background: red;
}
.carga-Productos-Accordion{
    display: contents;
    justify-content: center;
}
.boton-cargar{
    background: #b59062;
    border: none;
    border-radius: 0px;
    width: auto;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.boton-cargar:hover{
    background: whitesmoke;
    color:#b59062 ;
    border: none;
    border-radius: 0px;
    width: auto;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.boton-cargar:focus{
    background: whitesmoke;
    color:#b59062 ;
    border: none;
    border-radius: 0px;
    width: auto;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.formulario-estilo{
    box-shadow: 1px 1px 5px rgb(196, 146, 146);
}