.footer {
    background-color: #203048;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 3rem 1rem 3rem;
    font-family: 'Playfair Display', serif;
    color: #b59062;
 }
 .footer h5{
     font-weight: bold;
 }
 
 .footer a:hover {
    color: whitesmoke;
    text-shadow: 4px 3px 2px rgba(58, 57, 57, 0.575), 4px 4px 5px rgba(112, 112, 112, 0.493);
 }
 
 .social-icon a{
    font-size: 2rem;
    margin: 0 10px;
    color: #b59062;
    transition-duration: 0.5s;
 }
 
 .links {
    list-style: none;
    font-size: 10px;
 }
 
 .links a {
    color: whitesmoke !important;
    text-decoration: none;
    font-size: 1rem;
 }

 .link-effect div div a {   
   position: relative;
}

.link-effect div div a::before,
.link-effect div div a::after {
   position: absolute;
   width: 100%;
   height: 1px;
   background: #b59062;
   top: 100%;
   left: 0;
   pointer-events: none;
}

.link-effect div div a::before {
   content: '';
   transform-origin: 100% 50%;
   transform: scale3d(0, 1, 1);
   transition: transform 0.6s;
}

.link-effect div div a:hover::before {
   transform-origin: 0% 50%;
   transform: scale3d(1, 1, 1);
}


.footer2{
    background-color: #b59062;
    padding: 1rem 3rem 1rem 3rem;
    color: whitesmoke;
}

 .volverArriba {
    font-size: 2.5rem;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.4s;
 }
 
 .volverArriba:link, .volverArriba:visited, .volverArriba:active {
    color: whitesmoke;
 }
 
 .volverArriba:hover {
    color:#000000;
 }