@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  font-family: "Playfair Display", serif;
}
.productos {
  display: inline-block;
  color: #333;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 2px solid rgb(168, 77, 77, 0);
  transition: 0.5s;
}
.card-productos {
  text-decoration: none;
  cursor: pointer;
  width: 21rem;
  border: none;
}
.img-top-center{
  width: 11.5rem;
}
.img-top-left {
  width: 4rem;
}
.img-top-right {
  width: 5rem;
}
.productos:hover {
  border: 2px solid #b59062;
  box-shadow: 9px 9px 11px 2px rgba(0, 0, 0, 0.51);
}
.name-producto {
  font-weight: bold;
  font-size: 19px;
  height: 3rem;
}
.precio-producto {
  /* text-decoration: line-through; */
  color: #888;
  font-size: 17px;
}
.precio-producto-descuento {
  font-weight: bold;
  font-size: 28px;
}
.add-favorite-btn {
  color:white;
  border: none;
  width: 3rem;
  height: 3rem;
  background: #203048;
  transition-duration: 0.3s;
border: 1px solid #203048;
  
}

.add-favorite-btn:hover {
background-color: transparent;
}
.add-favorite-btn:hover .no-favorite {
  color: #203048;
}
.is-favorite {
  color: #b59062;
}


.cart-side-btn {
  background-color: #203048;
  border: none;
  position: absolute;
  right: 0;
  top: 40%;
  position: fixed;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  z-index: 5;
}