body {
  box-sizing: border-box;
  color: white;
}
.footer-fix {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-logo-desktop {
  width: 290px;
  height: 80px;
}
@media only screen and (max-width: 768px) {
  .nav-logo-desktop {
    width: 200px;
    height: 60px;
  }
}
.container-register {
  background-image: url(./assets/register-page-bg.jpg);
  background-size: cover;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: white;
}
.container-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url(./assets/contact-page-bg.jpg) no-repeat top center;
  background-size: cover;
  color: white;
}
.text-welcome-register {
  padding: 5rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.text-welcome-register h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}

.bg-grey {
  background-color: #f7f7f7;
}
/* BOTON GENERAL */
.btn-general-style {
  font-family: "Montserrat", sans-serif !important;
  background-color: #b59062;
  color: white;
  border: 1px solid #b59062;
  font-size: 20px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 5px;
  transition: all 0.5s;
  cursor: pointer;
}
.btn-general-style:hover {
  background-color: white;
  color: #b59062;
}

/* botones admin */
.btn-admin {
  border-radius: 0.3rem;
  color: rgb(255, 255, 255);
  background: #203048;
  padding: 1px 6px;
  border: 2px outset #203048;
}
.btn-admin:hover {
  background: #2f476b;
  color: #b59062;
}
.btn-admin:active {
  border: 2px inset #203048;
}
.btn-admin:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem #b59062;
}
/* search tables admin */
.search-table {
  border: 2px solid #203048;
  border-radius: 1.1rem;
}

.title-style {
  /* font-family: "Montserrat", sans-serif; */
  /* font-weight: 900; */
  color: #b59062;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dee2e6 !important;
}
/* spinner */
.spinner-style {
  z-index: 2;
  background-color: "#00000017";
}
/* no results card */
.no-results-card {
  color: #f7f7f7;
  background-color: #b59062ce !important ;
  border: 0.3rem ridge #b8884eb6 !important ;
}

/* acordion logica compra */

.accordion-buy {
  border: none !important;
}
.accordion-buy .accordion-header {
  display: flex;
  justify-content: center;
}
.accordion-buy .accordion-header button {
  margin: 0;
  display: flow-root;
  text-align: center;
  background-color: #b59062 !important;
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
  border: 1px solid #b59062;
  font-size: 20px;
  padding: 0.5rem 1rem;
  width: 40%;
}
.accordion-buy .accordion-header button:hover {
  background-color: white !important;
  color: #b59062 !important;
}
.accordion-buy .accordion-header button:focus {
  box-shadow: none;
}
.accordion-buy .accordion-body {
  margin: 1rem 0;
  border-top: 1.5px solid black;
  padding-top: 0;
}
