body {
  color: white;
}
.footer-fix {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .container-register {
    background-image: url(./assets/register-page-bg.jpg);
    background-size: cover;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: white;
  }
  .container-contact {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1634099719/cork-738603_960_720_vxqcg0.jpg) no-repeat top center;
    background-size: cover;
    color: white;
  }
  .text-welcome-register {
    padding: 5rem ;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .text-welcome-register h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
  }
  .columnaFiltros{
    background: #f7f7f7;
    display: flex;
    justify-content: center;
  }
  .columnaProductos{
    background: #f7f7f7;
  }
.bg-profile {
  background-color: #f7f7f7;
}

/* botones admin */
.btn-admin{
  border-radius: 0.3rem;
  color: rgb(255, 255, 255);
  background: #203048;
  padding: 1px 6px;
  border: 2px outset #203048;
}
.btn-admin:hover {
  background: #2f476b;
  color: #b59062;
}
.btn-admin:active {
  border: 2px inset #203048; 
}
.btn-admin:focus {
  outline: 0;
  box-shadow: 0 0 0 0.10rem #b59062;
}
/* search tables admin */
.search-table {
  border: 2px solid #203048;
  border-radius: 1.1rem;
}
/* user list */
.user-list{
  font-family: "Montserrat", sans-serif;
  color: #b59062;
  font-weight: 900;
}
/* spinner */
.spinner-style {
  z-index: 2;
  background-color: '#00000017';
}
