.agregar-sacar-btn {
    color: white;
    border: none;
    width: 3rem;
    height: 3rem;
    background: #203048;
    transition-duration: 0.3s;
    border: 1px solid #203048;
}

.agregar-sacar-btn:hover {
    background-color: transparent;
    color: black;
}

.agregar-sacar-btn-modal {
  color: white;
  border: none;
  width: 2rem;
  height: 2rem;
  background: #203048;
  transition-duration: 0.3s;
  border: 1px solid #203048;
}

.agregar-sacar-btn-modal:hover {
  background-color: transparent;
  color: black;
}

.delete-cartItem-btn {
  color: #b59062;
  border: none;
  width: 3rem;
  height: 3rem;
  background: whitesmoke;
  transition-duration: 0.3s;
  border: 1px solid #b59062;
}

.delete-cartItem-btn-modal {
  color: #b59062;
  border: none;
  width: 2rem;
  height: 2rem;
  background: whitesmoke;
  transition-duration: 0.3s;
  border: 1px solid #b59062;
}

.btn-remove-to-cart {
    background-color: transparent;
    border: 2px solid #888;
    border-radius: 1rem;
    color: #888;
    transition: 0.4s;
    margin: 2px;
  }
  .btn-remove-to-cart:hover {
    border: 2px solid red;
    color: red;
  }

.clean-cart {
  background-color: transparent;
  border: 2px solid #888;
  border-radius: 1rem;
  color: #888;
  transition: 0.4s;
  margin: 2px;
}
.clean-cart:hover {
  border: 2px solid red;
  color: red;
}

.responsive-cart-button-add{
  font-family: "Montserrat", sans-serif !important;
  background-color: whitesmoke;
  color: #b59062;
  border: 1px solid #b59062;
  font-size: 20px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 5px;
  transition: all 0.5s;
}
/* 
@media only screen and (max-width: 992px) {
  .cart-side-responsive{
    display: flex !important;

  }
}
 */


